.content_wrapper {
	width: calc(100% - 150px);
	overflow: auto;
}

@media screen and (max-width: 960px) {
	.content_wrapper {
		width: 960px;
	}
}

@media screen and (max-width: 770px) {
	.content_wrapper {
		width: 100%;
		margin: 0 auto;
	}
}

.left-content {
	width: calc(100% - 300px);
	float: left;
	text-align: right;
}

@media screen and (max-width: 1260px) {
	.left-content {
		width: calc(100% - 250px);
	}
}

@media screen and (max-width: 770px) {
	.left-content {
		width: 100%;
	}
}

.main-content {
	margin: 50px auto;
	overflow: auto;
	display: inline-block;
	padding: 0 10px 0 50px;
}

@media screen and (max-width: 1260px) {
	.main-content {
		padding: 0 10px 0 20px;
	}
}

@media screen and (max-width: 770px) {
	.main-content {
		padding: 0 10px;
		margin-top: 5px;
	}
}

/*
header-article
*/
.head-article {
	width: 100%;
	height: 360px;
  margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}

.head-article::after {
	content: '';
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  border-bottom: solid 2px #ff2a36;
}

.head_thumbnail {
  height: 250px;
	overflow: hidden;
}

@media screen and (max-width: 524px) {
	.head-article::after {
		left: 10%;
		width: 80%;
		border-bottom: solid 1px #ff2a36;
	}

	.head_thumbnail {
		height: 200px;
	}
}

@media screen and (max-width: 380px) {
	.head_thumbnail {
		height: 150px;
	}
}

/*
Content > Item
 */
.front-post {
	background: #ffffff;
	float: left;
	width: calc(100% / 2 - 20px);
	height: 250px;
	margin-bottom: 50px;
	position: relative;
}

.front-post:nth-child(odd) {
	margin-left: 10px;
}

.front-post:nth-child(even) {
	margin-right: 10px;
}

.front-post::after {
	content: '';
	position: absolute;
	left: 25%;
	bottom: 0;
	width: 50%;
	border-bottom: solid 1px #ff2a36;
}

.front-post:hover,
.head-article:hover {
	opacity: 0.7;
}

.front-post:hover .post-thumbnail-wrap img,
.head-article:hover .post-thumbnail-wrap img {
	transform: scale(1.1);
	transition-duration: 0.3s;
}

.front-post a,
.head-article a {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media screen and (max-width: 524px) {
	.front-post,
	.head-article {
		width: 100%;
		height: 330px;
		margin-bottom: 20px;
	}

	.front-post::after {
		left: 10%;
		width: 80%;	
	}

	.front-post:nth-child(odd) {
		margin-left: 0px;
	}
	
	.front-post:nth-child(even) {
		margin-right: 0px;
	}	
}

@media screen and (max-width: 380px) {
	.front-post,
	.head-article {
		width: 100%;
		height: 300px;
		margin-bottom: 5px;
	}
}

/*
arthive
 */
.archive-post {
	background: #ffffff;
	float: left;
	width: 340px;
	height: 250px;
	margin: 0 10px 50px;
	position: relative;
}

.archive-post::after {
	content: '';
	position: absolute;
	left: 25%;
	bottom: 0;
	width: 50%;
	border-bottom: solid 1px #ff2a36;
}

.archive-post:hover,
.head-article:hover {
	opacity: 0.7;
}

.archive-post:hover .post-thumbnail-wrap img,
.head-article:hover .post-thumbnail-wrap img {
	transform: scale(1.1);
	transition-duration: 0.3s;
}

.archive-post a,
.head-article a {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1230px) {
  .blog-post {
    margin: 0 20px 50px;
    width: calc((100% - 120px) / 3);
  }
}

@media screen and (max-width: 1077px) {
	.archive_main {
    width: 930px;
	}

	.archive-post {
		margin: 0 5px 50px;
		width: 300px;
	}
}

@media screen and (max-width: 770px) {
	.archive_main {
		width: 100%;
	}	

  .archive-post {
    margin: 0 0 50px;
		width: calc(100% / 2);
		padding: 0 20px;
  }
}

@media screen and (max-width: 524px) {
	.archive-post {
		width: 100%;
		height: 330px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 380px) {
	.archive-post {
		height: 300px;
		margin-bottom: 5px;
	}
}
