/* 固定pageのcss */

.page_content_block {
  width: 100%;
  background: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 50px 10px;
}

.page_content_block h3 {
  border-bottom: solid 2px #D0324B;
}

.page_content--text {
  width: 650px;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .page_content_block h1 {
    font-size: 30px;
    margin: 15px 0;
  }

  .page_content--text {
    width: 100%;
    padding: 0 20px;
  }

  .page_content_block h3 {
    font-size: 18px;
  }
}

/* Recruit */
.recruit_title {
  margin-bottom: 50px;
}

.recruit_title h1 {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 24px;
}

.contribution_title {
  margin-bottom: 60px;
}

.contribution_title h1 {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 30px;
}

.recruit_text {
  font-size: 17px;
  text-align: left;
}

.recruit_text div {
  text-align: center;
}

.recruit_text a {
}

.recruit_detail {
  margin-top: 70px;
}

.recruit_detail ul {
  padding: 5px 0;
  margin: 0;
}

.recruit_detail li {
  list-style: none;
}

.recruit_detail li:nth-child(odd) {
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
  border-bottom: solid #2fcbb2;
}

.recruit_detail li:nth-child(even) {
  text-align: left;
  padding: 20px 0;
}

.recruit_detail .last{
  text-align: center !important;
}

.recruit_between {
  height: 40px;
}


/* Contact */
.wpcf7-form .wpcf7-text,
.wpcf7-form  .wpcf7-textarea {
  border: solid 0.5px #2fcbb2;
  width: 600px;
}

@media screen and (max-width: 600px) {
  .wpcf7-form .wpcf7-text,
  .wpcf7-form  .wpcf7-textarea {
    width: 96%;
  }
}


/* Member */
.member_content_wrap {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}

.member_content {
  width: calc(50% - 40px);
  float: left;
  border-bottom: solid 0.5px #2fcbb2;
  text-align: left;
  margin: 0 20px 40px;
}

.member_img {
  margin-bottom: 5px;
  overflow: auto;
  float: left;
}

.profile_img {
  width: 100px;
  float: left;
}

.profile_text_content {
  height: 130px;
}

.profile_text_content-button-wrap {
  text-align: center;
  margin: 10px 0;
  height: 36px;
}

.profile_text_content-button-wrap a {
  margin-right: 15px;
}

.profile_text_content-button-wrap a:visited {
  color: #D0324B;
}

.profile_text_content-button {
  color: #D0324B;
  font-weight: bold;
  border: solid 1px #D0324B;
  padding: 5px 15px;
  border-radius: 3px;
  text-decoration: none;
  float: left;
}

.profile_text_content-button:hover {
  opacity: 0.5;
  color: #D0324B;
}

.profile-sns-social-wrap {
  float: left;
}

.profile-sns-social-icon {
  height: 38px;
}

.profile_text {
  width: calc(100% - 120px);
  float: left;
  font-size: 15px;
  margin-left: 20px;
}

.profile_text_title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .member_content_wrap {
    width: 95%;
  }

  .profile_text_content {
    height: 200px;
  }
}

@media screen and (max-width: 800px) {
  .member_content {
    width: 100%;
    margin: 0 0 20px;
    border-bottom: solid 2px #2fcbb2;
  }

  .profile_text_content {
    height: auto;
  }
}

@media screen and (max-width: 580px) {
  .member_content {
    min-height: 200px;
  }
}


/*
archive
 */

 .more-link {
 	margin-top: 20px;
 	float: left;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	font-size: 15px;
 	font-size: 1em;
 	font-family: 'Cabin', Helvetica, sans-serif;
 }

 .clearfix:before,
 .clearfix:after{
   display: table;
   content: " ";
 }

 /* パンくず */
 .child-category-space {
  height: 250px !important;
 }

 .child-category-item-wrap {
 	text-align: center;
 	overflow: auto;
 	height: 50px;
 	position: relative;
 }

 .child-category-item-wrap ul{
 	margin: 0 70px;
 }

 .child-category-item-wrap ul li{
 	list-style: none;
 	width: calc(100% / 6);
 	float: left;
 	padding: 5px 0;
 }

 .child-category-item-wrap ul li a{
 	text-decoration: none;
 	font-size: 17px;
  color: #ffffff;
 }

 .child-category-item-wrap ul li:hover a{
  color: #D0324B;
 }

 @media screen and (max-width: 1000px) {
 	.child-category-item-wrap ul {
 		padding: 10px 0;
 	}
 }

 @media screen and (max-width: 850px) {
 	.child-category-item-wrap ul{
 		margin: 0 40px;
 	}
 }

 @media screen and (max-width: 850px) {
 	.child-category-item-wrap ul{
 		margin: 0 20px;
 	}
 }

 @media screen and (max-width: 512px) {
 	.child-category-item-wrap {
     height: 40px;
 		margin-bottom: 0px;
 	}

 	.child-category-item-wrap ul {
 		display: none;
 	}
 }

 /*
 Content
  */
 .archive-content-wrap {
 	padding: 30px 70px 70px;
  box-shadow: 0px 0px 3px 3px;
  position: relative;
  z-index: 2;
 	overflow: hidden;
 }

 @media screen and (max-width: 1230px) {
 	.archive-content-wrap {
 		padding: 30px 50px 70px;
 	}
 }

 @media screen and (max-width: 1070px) {
 	.archive-content-wrap {
 		padding: 30px 30px 70px;
 	}
 }

 @media screen and (max-width: 614px) {
 	.archive-content-wrap {
 		padding: 30px 5px 50px;
 	}
 }

 @media screen and (max-width: 380px) {
 	.archive-content-wrap {
 		padding: 30px 0 35px;
 	}
 }

 /*
 Content > Item
  */
 .archive-site-main > article.article,
 .blog-post {
 	background: #ffffff;
 	float: left;
 	width: calc((100% - 240px) / 3);
 	height: 250px;
 	margin: 0 40px 50px;
 	position: relative;
 }

 .archive-site-main > article.article::after,
 .blog-post::after {
   content: '';
   position: absolute;
   left: 25%;
   bottom: 0;
   width: 50%;
   border-bottom: solid 1px #2fcdb4;
 }

 .blog-post:hover {
 	opacity: 0.5;
 	top: 3px;
 }

 .blog-post a {
 	position: absolute;
 	display: block;
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 }

 @media screen and (max-width: 1230px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		margin: 0 20px 50px;
     width: calc((100% - 120px) / 3);
 	}
 }

 @media screen and (max-width: 890px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: calc((100% - 80px) / 2);
 	}
 }

 @media screen and (max-width: 564px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: calc((100% - 40px) / 2);
 		margin: 0 10px 50px;
 	}
 }

 @media screen and (max-width: 610px) {
 	.archive-site-main > article.article,
 	.blog-post {
    height: 300px;
  }
}

 @media screen and (max-width: 524px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: 400px;
 		height: 320px;
 		margin: 0 auto 30px;
 		float: none;
 	}
 }

 @media screen and (max-width: 430px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: 340px;
 		height: 340px;
 	}

 }

 @media screen and (max-width: 380px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: 290px;
 		height: 300px;
 	}
 }

 /*
 ## Title
  */

 .archive-item-title {
 	font-family: 'Cabin', Helvetica, sans-serif;
 	font-size: 20px;
 	line-height: 25px;
 	color: #575756;
 	letter-spacing: 2px;
 	font-weight: 600;
 	margin: auto;
 	text-transform: none;
 }

 .archive-item-title a {
 	font-size: 24px;
 	font-size: 1em;
 	color: #575756;
 	margin: 0;
   text-decoration: none;
 }

 .entry-header {
 	padding-bottom: 30px;
 }

 .archive-content-inner-wrap {
 	text-align: center;
 }

 .archive-content-inner-wrap .byline {
   display: block;
 }

 @media screen and (max-width: 950px) {
 	.archive-content-inner-wrap {
 		padding: 20px 10px 0px;
 	}
 }

 @media screen and (max-width: 500px) {
   .entry-header{
     padding-bottom: 10px;
   }
 }

 @media screen and (max-width: 524px) {
 	.archive-content-inner-wrap {
 		padding: 2px 10px 0px;
 	}
 }

.archive-content-desc {
  margin: 5px 0;
  overflow: auto;
}

 /*
 Tag
  */
 .archive-item-tag {
 	text-align: center;
 	margin-top: 5px;
  float: left;
 }

 .archive-item-tag span {
 	margin: 0 5px;
   color: #D0324B
 }

 /*
 author
  */
.archive-item-author-wrap {
  overflow: auto;
  float: right;
}

.archive-item-author-wrap img {
  height: 40px;
  width: 40px;
  float: left;
}

 /*
 Image
  */

 .post-thumbnail-wrap {
 	text-align: center;
 	width: 100%;
 	height: 100px;
 }

 .post-thumbnail-wrap img {
	 width: 100%;
   height: 100%;
   object-fit: cover;
 }

 @media screen and (max-width: 524px) {
 	.post-thumbnail-wrap {
 		height: 200px;
 	}
 }

 @media screen and (max-width: 380px) {
 	.post-thumbnail-wrap {
 		height: 150px;
 	}
 }

/*
single
 */
 /*
 Content
 */
 .post-content {
   background: #ffffff;
   margin-bottom: 10px;
   position: relative;
   box-shadow: 0px 0px 3px 3px;
 }

 .single-content-area {
   width: 650px;
   margin: 60px auto;
 }

 .content-wrap {
   position: relative;
   z-index: 9000;
 }

 .single-content {
   padding: 40px 0;
   font-size: 17px;
 }

 /* 投稿ページのclassはここに追加 */

 .single-content p {
   margin: 0 0 60px;
   line-height: 35px;
 }

 .single-content h2 {
   font-weight: bold;
   background: linear-gradient(transparent 70%, #2fcdb4 70%);
   text-transform: none;
 }

 .single-content h3, h4 {
   font-weight: bold;
   position: relative;
   padding-left: 35px;/*アイコン分のスペース*/
   line-height: 1.4;
   text-transform: none;
 }

 .single-content h3:before, h4:before {
   font-family: "FontAwesome";
   content: "\f00c";/*アイコンのユニコード*/
   position: absolute;/*絶対位置*/
   font-size: 1em;/*サイズ*/
   left: 0;/*アイコンの位置*/
   top: 0;/*アイコンの位置*/
   color: #2fcdb4; /*アイコン色*/
 }

 .single-content h3 {
   font-size: 21px;
 }
 .single-content h4 {
   font-size: 19px;
 }

 @media screen and (max-width: 650px) {
   .single-content-area {
     width: 100%;
     padding: 0 20px;
   }
 }

 /*
 header
  */
 .single-title-wrap {
   text-align: center;
   overflow: auto;
 }

 .single-title {
   margin: 10px 0;
 }

 .single-title-meta {
   float: left;
   font-size: 14px;
   margin-top: 20px;
 }

 .single-title-meta .posted-on {
   color: #aaaaaa;
 }

/* author */
.single-author a {
  text-decoration: none;
}

.single-author img {
  width: 50px;
}

.single-author .byline {
  display: inline;
}

.single-author:hover .byline{
  color: #D0324B;
}

.single-author-page-bottom {
  margin-top: 30px;
}

 /* category */
 .cat-links-wrap {
   font-size: 18px;
   overflow: auto;
 }

 .cat-links-wrap a {
   text-decoration: none;
 }

 @media screen and (max-width: 450px) {
   .single-title {
     font-size: 25px;
     font-weight: bold;
   }
 }

 /*
 関連記事
  */
 .related-post-wrap {
   margin: 0 auto;
 }

 .related-post-item-wrap {
   list-style: none;
   width: 300px;
   height: 250px;
   float: left;
   margin-bottom: 50px;
   box-shadow: 3px 3px 3px 1px;
   position: relative;
 }

 .related-post-item-wrap:nth-child(odd){
   margin-right: 25px;
 }

 .related-post-item-wrap:nth-child(even){
   margin-left: 25px;
 }

 .related-post-item-wrap .entry-header{
   padding-bottom: 5px;
 }

 .related-post-item-wrap .archive-item-tag {
   margin-top: 0px;
 }

 .related-post-item-wrap .archive-item-author-wrap {
   margin-right: 5px;
 }

 .related-post-item-wrap:hover {
   opacity: 0.5;
   top: 3px;
 }

 .related-post-item-wrap a {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
 }

 .related-post-item-top {
   height: 20px;
   background: #2fcdb4
 }

 .related-post-img-wrapper {
   height: 100px;
   position: absolute;
   width: 100%;
   bottom: 0;
 }

 .related-post-img-wrapper img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
 }

 .related-post-title {
   text-align: center;
   padding-bottom: 10px;
   margin-bottom: 30px;
   font-weight: bold;
   background: linear-gradient(transparent 90%, #2fcdb4 70%);
 }

 .related-post-title span {
   font-size: 24px;
 }

 .related-post-content {
   margin: 0;
   padding: 0;
 }

 @media screen and (max-width: 650px) {
   .related-post-item-wrap {
     width: calc((100% - 30px)/2);
     height: 300px;
   }

   .related-post-item-wrap:nth-child(odd){
     margin-right: 15px;
   }

   .related-post-item-wrap:nth-child(even){
     margin-left: 15px;
   }
 }

 @media screen and (max-width: 428px) {
   .related-post-item-wrap {
     float: none;
     margin: 0 auto 50px;
     width: 100%;
     height: 250px;
   }

   .related-post-item-wrap:nth-child(odd){
     margin-right: 0px;
   }

   .related-post-item-wrap:nth-child(even){
     margin-left: 0px;
   }
 }
